

.nav-link{
	color: #0c0c0c;
	font-size: x-large;
}
@media (min-width: 767px) {
	.img-laptop {
		height: 100px;
		width: 100px;
	}
}
.img-laptop {
    height: 720px;
	width: 100%;
	background-image: url(../Capstone.project2/laptop.jpg);
	position: relative;
	display: flex;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
	align-items: center;
	justify-content: center;
}
.content {
	font-size: 5rem;
	color: #bf5700;
	font-family: 'Sacramento', 'cursive';
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.content2 {
	font-size: 4rem;
	color: white;
	font-family: sacramento;
	display: inline-block;
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
}
button {
	position: absolute;
	bottom: 20px;
	right: 15px;
	transform: translate(-50%, -50%);
	color: white;
	cursor: pointer;
	border-radius: 50%;
	padding: 10px 20px;
	font-size: 16px;
}
